# **Machine Learning**

In [1]:
#importing the libraries
import numpy as np
import pandas as pd

#### **Load the data**

In [2]:
df_pre=pd.read_csv("Absenteeism_preprocessed.csv")
df_pre.head()

,reason_grp1,reason_grp2,reason_grp3,reason_grp4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,month,Day of the week
0,False,False,False,True,289,36,33,239.554,30,0,2,1,4,7,1
1,False,False,False,False,118,13,50,239.554,31,0,1,0,0,7,1
2,False,False,False,True,179,51,38,239.554,31,0,0,0,2,7,2
3,True,False,False,False,279,5,39,239.554,24,0,2,0,4,7,3
4,False,False,False,True,289,36,33,239.554,30,0,2,1,2,7,3

#### **Creating the targets**

In [3]:
df_pre['Absenteeism Time in Hours'].median()

3.0

If Absenteeism Time in Hours<=3 then moderately absent => 0

If Absenteeism Time in Hours>=3 then excessively absent => 1

In [5]:
targets=np.where(df_pre['Absenteeism Time in Hours']>df_pre['Absenteeism Time in Hours'].median(),1,0)
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [6]:
df_pre['Excessive Absenteeism']=targets
df_pre.head()

,reason_grp1,reason_grp2,reason_grp3,reason_grp4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,month,Day of the week,Excessive Absenteeism
0,False,False,False,True,289,36,33,239.554,30,0,2,1,4,7,1,1
1,False,False,False,False,118,13,50,239.554,31,0,1,0,0,7,1,0
2,False,False,False,True,179,51,38,239.554,31,0,0,0,2,7,2,0
3,True,False,False,False,279,5,39,239.554,24,0,2,0,4,7,3,1
4,False,False,False,True,289,36,33,239.554,30,0,2,1,2,7,3,0

#### **Comments on targets**

In [7]:
targets.sum()/targets.shape[0]

0.45571428571428574

Usually 60-40 split will work equally well for logistic regression
But here we have 45-55 split

In [8]:
#dropping absenteeism in hours
df_pre.drop('Absenteeism Time in Hours',axis=1,inplace=True)
df_pre.head()

,reason_grp1,reason_grp2,reason_grp3,reason_grp4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,month,Day of the week,Excessive Absenteeism
0,False,False,False,True,289,36,33,239.554,30,0,2,1,7,1,1
1,False,False,False,False,118,13,50,239.554,31,0,1,0,7,1,0
2,False,False,False,True,179,51,38,239.554,31,0,0,0,7,2,0
3,True,False,False,False,279,5,39,239.554,24,0,2,0,7,3,1
4,False,False,False,True,289,36,33,239.554,30,0,2,1,7,3,0